<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ==== Document Title ==== -->
    <title>Yasuo News - News is like the wind - always by your side</title>
    <!-- ==== Document Meta ==== -->
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- ==== Favicons ==== -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

    <!-- ==== Google Font ==== -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700">

    <!-- ==== Font Awesome ==== -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- ==== Bootstrap Framework ==== -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- ==== Bar Rating Plugin ==== -->
    <link rel="stylesheet" href="css/fontawesome-stars-o.min.css">
    
    <!-- ==== Main Stylesheet ==== -->
    <link rel="stylesheet" href="style.css">
    
    <!-- ==== Responsive Stylesheet ==== -->
    <link rel="stylesheet" href="css/responsive-style.css">

    <!-- ==== Theme Color Stylesheet ==== -->
    <link rel="stylesheet" href="css/colors/theme-color-1.css" id="changeColorScheme">
    
    <!-- ==== Custom Stylesheet ==== -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- ==== HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries ==== -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{{_sections.css}}}

</head>
<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preloader bg--color-1--b" data-preloader="1">
            <div class="preloader--inner"></div>
        </div>
    </div>
    <!-- Preloader End -->
    <form id="formLogout" action="/account/logout" method="POST"></form>

    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Header Section Start -->
        <header class="header--section header--style-1">
            <!-- Header Topbar Start -->
            <div class="header--topbar bg--color-2">
                <div class="container">
                    <div class="float--left float--xs-none text-xs-center">
                        <!-- Header Topbar Info Start -->
                        <ul class="header--topbar-info nav">
                            <li><i class="fa fm fa-map-marker"><span id="location"></span></i></li>
                            <li><i class="fa fm fa-mixcloud"></i><span id="temp"></span><sup>o</sup> C</li>
                            <li><i class="fa fm fa-calendar"></i><span id="date"></span></li>
                        </ul>
                        <!-- Header Topbar Info End -->
                    </div>

                    <div class="float--right float--xs-none text-xs-center">
                        <!-- Header Topbar Language Start -->
                        <ul class="header--topbar-lang nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fm fa-language"></i>Vietnamese<i class="fa flm fa-angle-down"></i></a>

                                <ul class="dropdown-menu">
                                    <li><a href="#">Vietnamese</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Header Topbar Language End -->

                        <!-- Header Topbar Social Start -->
                        <ul class="header--topbar-social nav hidden-sm hidden-xxs">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                        <!-- Header Topbar Social End -->
                        {{#if auth}}
                            <ul class="header--topbar-lang nav">
                                <li class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fm"></i>Chào, {{authUser.HoTen}} <i class="fa flm fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li ><a class="fa fa-user" href="/account/profile">Thông tin cá nhân</a></li>
                                    <li ><a class="fa fa-lock" href="/account/profile_password">Đổi mật khẩu</a></li>
                                    {{#IfEquals authUser.LoaiNguoiDung 'writer'}}
                                    <li ><a class="fa fa-pencil" href="/writer/">Gửi bài viết</a></li>
                                    {{/IfEquals}}
                                    {{#IfEquals authUser.LoaiNguoiDung 'editor'}}
                                    <li ><a class="fa fa-edit" href="/editor/">Duyệt bài viết</a></li>
                                    {{/IfEquals}}
                                    {{#IfEquals authUser.LoaiNguoiDung 'admin'}}
                                    <li ><a class="fa fa-cogs" href="/admin/">Quản lý hệ thống</a></li>
                                    {{/IfEquals}}
                                    <li ><a class="fa fa-sign-out" href="javascript: $('#formLogout').submit();">Đăng xuất</a></li>
                                </ul>
                                </li>
                            </ul>
                        {{else}}
                            <ul class="header--topbar-action nav">
                            <li><a href="/account/login"><i class="fa fm fa-user-o"></i>Đăng nhập/Đăng ký</a></li>
                            </ul>
                        {{/if}}
                    </div>
                </div>
            </div>
            <!-- Header Topbar End -->

            <!-- Header Mainbar Start -->
            <div class="header--mainbar">
                <div class="container">
                    <!-- Header Logo Start -->
                    <div class="header--logo float--center float--sm-none text-sm-center">
                        <h1 class="h1">
                            <a href="/news/home" class="btn-link">
                                <img src="img/logo.png" alt="YSNews Logo">
                                <span class="hidden">YSNews Logo</span>
                            </a>
                        </h1>
                    </div>
                    <!-- Header Logo End -->
                </div>
            </div>
            <!-- Header Mainbar End -->

            <!-- Header Navbar Start -->
            <div class="header--navbar navbar bd--color-1 bg--color-1" data-trigger="sticky">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerNav" aria-expanded="false" aria-controls="headerNav">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div id="headerNav" class="navbar-collapse collapse float--left">
                        <!-- Header Menu Links Start -->
                        <ul class="header--menu-links nav navbar-nav" data-trigger="hoverIntent">
                            <li>
                                <a href="/news/home">Trang Chủ</a>
                            </li>
                            {{#each listCMC}}
                            <li class="dropdown megamenu filter">
                                <a href="/news/newslist/idChuyenMucChinh/{{idChuyenMucChinh}}" data-toggle="dropdown" class="dropdown-toggle" >{{TenChuyenMuc}}<i class="fa flm fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <!-- Megamenu Filter Start -->
                                                <div class="megamenu--filter">
                                                    <ul class="nav">
                                                        {{#each ../listCMP}}
                                                        {{#IfEquals idChuyenMucChinh ../idChuyenMucChinh}}
                                                        <li>
                                                            <a href="/news/newslist/idChuyenMucPhu/{{idChuyenMucPhu}}" data-cat="latin-america">{{TenChuyenMucPhu}}<i class="fa fa-angle-right"></i></a>
                                                        </li>
                                                        {{/IfEquals}}
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                                <!-- Megamenu Filter End -->
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </li>
                            {{/each}}
                            <li class="dropdown megamenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Danh sách chuyên mục<i class="fa flm fa-angle-down"></i></a>

                                <ul class="dropdown-menu">
                                    {{#each listCMC}}
                                    <li class="dropdown">
                                        <a href="/news/newslist/idChuyenMucChinh/{{idChuyenMucChinh}}">{{TenChuyenMuc}}</a>

                                        <ul class="dropdown-menu">
                                            {{#each ../listCMP}}
                                            {{#IfEquals idChuyenMucChinh ../idChuyenMucChinh}}
                                            <li><a href="/news/newslist/idChuyenMucPhu/{{idChuyenMucPhu}}">{{TenChuyenMucPhu}}</a></li>
                                            {{/IfEquals}}
                                            {{/each}}
                                        </ul>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                        </ul>
                        <!-- Header Menu Links End -->
                    </div>

                    <!-- Header Search Form Start -->
                    <form action="/news/newslist" class="header--search-form float--right" >
                        <input type="search" name="search" placeholder="Tìm kiếm..." class="header--search-control form-control" required>
                        <button type="submit" class="header--search-btn btn"><i class="header--search-icon fa fa-search"></i></button>
                    </form>
                    <!-- Header Search Form End -->
                </div>
            </div>
            <!-- Header Navbar End -->
        </header>
        <!-- Header Section End -->

        <!-- Posts Filter Bar Start -->
        <div class="posts--filter-bar style--1 hidden-xs">
            <div class="container">
                <ul class="nav">
                    <li>
                        <a href="#hotnews">
                            <i class="fa fa-fire"></i>
                            <span>Hot News</span>
                        </a>
                    </li>
                    <li>
                        <a href="#trendingnews">
                            <i class="fa fa-flash"></i>
                            <span>Trending News</span>
                        </a>
                    </li>
                    <li>
                        <a href="#mostwatched">
                            <i class="fa fa-eye"></i>
                            <span>Most Watched</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Posts Filter Bar End -->


        <!-- Main Content Section Start -->
                       {{{body}}}
        <!-- Main Content Section End -->

        <!-- Footer Section Start -->
        <footer class="footer--section">
            <!-- Footer Widgets Start -->
            <div class="footer--widgets pd--30-0 bg--color-2">
                <div class="container">
                    <div class="row AdjustRow">
                        <div class="col-md-3 col-xs-6 col-xxs-12 ptop--30 pbottom--30">
                            <!-- Widget Start -->
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Về chúng tôi</h2>

                                    <i class="icon fa fa-exclamation"></i>
                                </div>

                                <!-- About Widget Start -->
                                <div class="about--widget">
                                    <div class="content">
                                        <p>Yasuo News là sản phẩm của đồ án cuối kỳ môn Phát Triển Ứng Dụng Web, do ông Hứa Huy Cường, Đỗ Hoàng Thế và Trần Quang Tiến đồng tác giả. </p>
                                    </div>

                                    <div class="action">
                                        <a href="#" class="btn-link">Đọc thêm<i class="fa flm fa-angle-double-right"></i></a>
                                    </div>

                                    <ul class="nav">
                                        <li>
                                            <i class="fa fa-map"></i>
                                            <span>18TN - HCMUS</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope-o"></i>
                                            <a href="mailto:example@example.com">example@example.com</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-phone"></i>
                                            <a href="tel:+123456789">+123 456 (789)</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- About Widget End -->
                            </div>
                            <!-- Widget End -->
                        </div>

                        <div class="col-md-3 col-xs-6 col-xxs-12 ptop--30 pbottom--30">
                            <!-- Widget Start -->
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Một số đường dẫn hữu ích</h2>

                                    <i class="icon fa fa-expand"></i>
                                </div>

                                <!-- Links Widget Start -->
                                <div class="links--widget">
                                    <ul class="nav">
                                        <li><a href="#" class="fa-angle-right">Top 10 Tin Tức</a></li>
                                        <li><a href="#" class="fa-angle-right">Đăng ký</a></li>
                                    </ul>
                                </div>
                                <!-- Links Widget End -->
                            </div>
                            <!-- Widget End -->
                        </div>

                        <div class="col-md-3 col-xs-6 col-xxs-12 ptop--30 pbottom--30">
                            <!-- Widget Start -->
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Quảng cáo</h2>

                                    <i class="icon fa fa-bullhorn"></i>
                                </div>

                                <!-- Links Widget Start -->
                                <div class="links--widget">
                                    <ul class="nav">
                                        <li><a href="#" class="fa-angle-right">Liên hệ quảng cáo</a></li>
                                        <li><a href="#" class="fa-angle-right">Gia hạn quảng cáo</a></li>
                                        <li><a href="#" class="fa-angle-right">Giá cả</a></li>
                                    </ul>
                                </div>
                                <!-- Links Widget End -->
                            </div>
                            <!-- Widget End -->
                        </div>

                        <div class="col-md-3 col-xs-6 col-xxs-12 ptop--30 pbottom--30">
                            <!-- Widget Start -->
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Việc làm</h2>

                                    <i class="icon fa fa-user-o"></i>
                                </div>

                                <!-- Links Widget Start -->
                                <div class="links--widget">
                                    <ul class="nav">
                                        <li><a href="#" class="fa-angle-right">Trở thành thành viên của chúng tôi</a></li>
                                        <li><a href="#" class="fa-angle-right">Chi tiết tuyển dụng</a></li>
                                        <li><a href="#" class="fa-angle-right">Cách thức ứng tuyển?</a></li>
                                        <li><a href="#" class="fa-angle-right">Công việc Freelance</a></li>
                                        <li><a href="#" class="fa-angle-right">Đăng ký ngay</a></li>
                                    </ul>
                                </div>
                                <!-- Links Widget End -->
                            </div>
                            <!-- Widget End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Widgets End -->

            <!-- Footer Copyright Start -->
            <div class="footer--copyright bg--color-3">
                <div class="social--bg bg--color-1"></div>

                <div class="container">
                    <p class="text float--left">&copy; 2017 <a href="#">USNEWS - template</a>. All Rights Reserved.</p>

                    <ul class="nav social float--right">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>

                    <ul class="nav links float--right">
                        <li><a href="#">Trang Chủ</a></li>
                        <li><a href="#">Hỏi đáp</a></li>
                        <li><a href="#">Hỗ Trợ</a></li>
                    </ul>
                </div>
            </div>
            <!-- Footer Copyright End -->
        </footer>
        <!-- Footer Section End -->
    </div>
    <!-- Wrapper End -->

    <!-- Sticky Social Start -->
    <div id="stickySocial" class="sticky--right">
        <ul class="nav">
            <li>
                <a href="#">
                    <i class="fa fa-facebook"></i>
                    <span>Follow Us On Facebook</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                    <span>Follow Us On Twitter</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                    <span>Follow Us On Google Plus</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-rss"></i>
                    <span>Follow Us On RSS</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-vimeo"></i>
                    <span>Follow Us On Vimeo</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-youtube-play"></i>
                    <span>Follow Us On Youtube Play</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-linkedin"></i>
                    <span>Follow Us On LinkedIn</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Sticky Social End -->

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <!-- Back To Top Button End -->
    <!-- ==== jQuery Library ==== -->
    <script src="js/jquery-3.2.1.min.js"></script>

    <!-- ==== Bootstrap Framework ==== -->
    <script src="js/bootstrap.min.js"></script>

    <!-- ==== StickyJS Plugin ==== -->
    <script src="js/jquery.sticky.min.js"></script>

    <!-- ==== HoverIntent Plugin ==== -->
    <script src="js/jquery.hoverIntent.min.js"></script>

    <!-- ==== Marquee Plugin ==== -->
    <script src="js/jquery.marquee.min.js"></script>

    <!-- ==== Validation Plugin ==== -->
    <script src="js/jquery.validate.min.js"></script>

    <!-- ==== Isotope Plugin ==== -->
    <script src="js/isotope.min.js"></script>

    <!-- ==== Resize Sensor Plugin ==== -->
    <script src="js/resizesensor.min.js"></script>

    <!-- ==== Sticky Sidebar Plugin ==== -->
    <script src="js/theia-sticky-sidebar.min.js"></script>

    <!-- ==== Zoom Plugin ==== -->
    <script src="js/jquery.zoom.min.js"></script>

    <!-- ==== Bar Rating Plugin ==== -->
    <script src="js/jquery.barrating.min.js"></script>

    <!-- ==== Countdown Plugin ==== -->
    <script src="js/jquery.countdown.min.js"></script>

    <script>
    $.ajax({
    url: "https://geolocation-db.com/jsonp",
    jsonpCallback: "callback",
    dataType: "jsonp",
    async: true,
    success: function(location) {
        console.log(location);
        $('#location').html(location.city+'-'+location.country_name);
        const settings = {
	    "async": true,
	    "crossDomain": true,
        dataType: "jsonp",
	    "url": "https://api.openweathermap.org/data/2.5/weather?q="+location.city+"&lang=vi&units=%22metric%22&appid=a9ac54e61a30901b709f9c26493aa2d3",
	    "method": "GET",
        };
        $.ajax(settings).done(function (temperature) {
	        console.log(temperature);
            $('#temp').html(temperature.main.temp);
        });
        }
    });
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = dd + '/' + mm + '/' + yyyy;
    $('#date').html(today);
    </script>

    <!-- ==== Main JavaScript ==== -->
    <script src="js/main.js"></script>

  {{{_sections.js}}}
</body>
</html>