<!-- Include external CSS. -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"
  type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

<!-- Include external JS libs. -->
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
{{!-- ckeditor --}}
<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <h4>{{topic}}</h4>
        </div>
      </div>
      <hr>
      {{#if article}}
      <div class="row">
        <div class="col">
          {{#if article.reasonForRefusing}}
            <div class="alert alert-danger" role="alert">
            {{!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> --}}
            <strong>Lý do bị từ chối: </strong>
            {{article.reasonForRefusing}}
            </div>
            {{/if}}
          {{#if hasSuccessPost}}
          <div class="alert alert-success" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{# each successPost }}
            {{ this }}</br>
            {{/ each }}
          </div>
          {{/if}}
          {{# if successold}}
          <div class="alert alert-success" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong>
            {{messagesSuccess}}
          </div>
          {{/if}}
          {{#if failure}}
          <div class="alert alert-danger" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failure!</strong>
            {{messagesFailure}}
          </div>
          {{/if}}
          {{# if hasError }}
          <div class="alert alert-danger" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{# each messages }}
            {{ this }}</br>
            {{/ each }}
          </div>
          {{ else }}
          {{# if hasSuccess }}
          <div class="alert alert-success" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{# each success }}
            {{ this }}</br>
            {{/ each }}
          </div>
          {{/ if }}
          {{/ if }}

          <form style="min-width: 20rem;" id="articleContent" action="{{action}}" method="POST">
            <div class="form-group row">
              <label for="text" class="col-12 col-form-label">Tiêu đề bài viết</label>
              <div class="col-12">
                <input id="title" name="title" placeholder="Nhập tiêu đề tại đây" class="form-control here"
                  required="required" type="text" value="{{article.title}}">
              </div>
              <label for="text" class="col-12 col-form-label">Nội dung tóm tắt</label>
              <div class="col-12">
                <textarea id="abstract" name="abstract" placeholder="Nhập nội dung tóm tắt tại đây" cols="40" rows="3"
                  class="form-control" required="required"> {{article.abstract}} </textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="textarea" class="col-12 col-form-label">Nội dung chính bài viết</label>
              <div class="col-12">
                <textarea id="content" name="content" 
                  required="required"> {{article.content}} </textarea>
                {{!-- <script> $(function () { $('#content').froalaEditor() }); </script> --}}
              </div>
            </div>
            <input type="text" id="_csrf" name="_csrf" value="{{csrfToken}}" hidden>
            <input type="text" id="_articleID" name="_articleID" value="{{article._id}}" hidden>
            <input type="text" id="categoryMain" name="categoryMain" value="{{article.categoryMain}}" hidden>
            <input type="text" id="writeDate" name="writeDate" value="{{article.writeDate}}" hidden>
            <input type="text" id="postDate" name="postDate" value="{{article.postDate}}" hidden>
            <input type="text" id="writerMain" name="writerMain" value="{{article.writer}}" hidden>
            <input type="text" id="oldBigAvatar" name="oldBigAvatar" value="{{article.bigAvatar}}" hidden>
            <input type="text" id="oldSmallAvatar" name="oldSmallAvatar" value="{{article.smallAvatar}}" hidden>
            <input type="text" id="mode" value="edit" hidden>

        </div>
        <div class="col-md-auto">
          <div class="col-md-3 col-12">
            <div class="row justify-content-center">
              <img id="avatar" alt="User Pic" src="{{article.smallAvatar}}" class="img-thumbnail img-fluid">
              <div class="img-thumbnail" id="loading" hidden>
                <div class="spinner-border" role="status"></div>
              </div>
              <input type="file" name="file" id="file" hidden>
            </div>
            <div class="row justify-content-center">
              <button type="button" class="btn btn-sm btn-outline-warning fas fa-image m-1"
                onclick="handleChangeAvatar()"></button>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header bg-light ">Đăng bài viêt</div>
            <div class="card-body">
              <div class="form-group row">
                <label for="categorySub" class="col-12 col-form-label">Chuyên mục
                  {{article.categorySub.categoryName}}</label>
                <div class="col-8">
                  <select id="categorySub" name="categorySub" class="custom-select" required="required">
                    {{!-- <option value="rabbit">Rabbit</option>
                    <option value="duck">Duck</option>
                    <option value="fish">Fish</option> --}}
                    <option value="{{article.categorySub._id}}" selected> Thay đổi </option>
                    {{#each listCategory}}
                    <option value="{{_id}}">{{categoryName}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>

              <div class="form-group row">
                
                <label for="isPremiumArticle" class="col-12 col-form-label">Chế độ Premium: {{article.isPremiumArticle}} </label>
                <div class="col-8">
                  <select id="isPremiumArticle" name="isPremiumArticle" class="custom-select" required="required">
                    <option value="{{article.isPremiumArticle}}" selected> Lựa chọn </option>
    
                    <option value="true"> Yes </option>
                    <option value="false"> No </option>
                    
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="select" class="col-12 col-form-label">Chọn tag</label>
                <div class="col-8">
                  <select class="form-control chosen-select" multiple class="standardSelect" tabindex="4" name="arrayOfTags[]" id="arrayOfTags"
                    data-placeholder="Hãy chọn ít nhất một thẻ tag" style="width: 250px"
                    {{# if_equal mode "approve" }}{{ else }} {{/ if_equal }}>
                    <option value=""></option>
                    {{# each tags }}
                    <option value="{{this._id}}">{{this.tagName}}</option>
                    {{/ each }}
                    {{# each article.arrayOfTags }}
                    <option value="{{this._id}}" selected>{{this.tagName}}</option>
                    {{/ each }}
                  </select>
                </div>
              </div>

            </div>
            {{!-- <div class="card-footer bg-light">
              <button type="button" class="btn btn-outline-secondary btn-sm">Preview</button>
              <button type="button" class="btn btn-info btn-sm">Save Draft</button>
              <button type="submit" form="articleContent" class="btn btn-primary btn-sm">Publish</button>
            </div> --}}
            <div class="card-footer bg-light">
              {{!-- <button type="button" class="btn btn-outline-secondary btn-sm">Preview</button> --}}


              {{#if admin}}
              <button type="button" class="btn btn-primary btn-sm" onclick="handleSubmitPost2('{{action}}')">Save
                Draft</button>
                      {{#if_equal article.status "approved"}}
                      <button type="button" class="btn btn-success btn-sm" onclick="openApproveModal()" >Đổi ngày xuất
                        bản</button>

                      {{else}}
                      <button type="button" class="btn btn-success btn-sm" onclick="openApproveModal()">Xuất bản</button>
                      {{/if_equal}}

              {{else}}
              <button type="button" class="btn btn-primary btn-sm" onclick="handleSubmitPost('{{action}}')">Save
                Draft</button>
              {{/if}}

            </div>
          </div>

        </div>
      </div>
      </form>
      {{/if}}
      {{#unless article}}
      <div class="row">
        <div class="col">
          {{# if successold}}
          <div class="alert alert-success" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong>
            {{messagesSuccess}}
          </div>
          {{/if}}
          {{# if failure}}
          <div class="alert alert-danger" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failure!</strong>
            {{messagesFailure}}
          </div>
          {{/if}}
          {{# if hasError }}
          <div class="alert alert-danger" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{# each messages }}
            {{ this }}</br>
            {{/ each }}
          </div>
          {{ else }}

          {{# if hasSuccess }}
          <div class="alert alert-success" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{# each success }}
            {{ this }}</br>
            {{/ each }}
          </div>
          {{/ if }}

          {{/ if }}
          <form style="min-width: 20rem;" id="articleContent" action="{{actionpost}}" method="POST">
            <div class="form-group row">
              <label for="text" class="col-12 col-form-label">Tiêu đề bài viết</label>
              <div class="col-12">
                <input id="title" name="title" placeholder="Nhập tiêu đề tại đây" class="form-control here"
                  required="required" type="text">
              </div>
              <label for="text" class="col-12 col-form-label">Nội dung tóm tắt</label>
              <div class="col-12">
                <textarea id="abstract" name="abstract" placeholder="Nhập nội dung tóm tắt tại đây" cols="80" rows="3"
                  class="form-control" required="required"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="textarea" class="col-12 col-form-label">Nội dung chính bài viết</label>
              <div class="col-12">
                <textarea id="content" name="content"  rows="10" cols="80"
                  required="required">ABC</textarea>
                {{!-- <script> $(function () { $('#content').froalaEditor() }); </script> --}}
            </div>
            <script>
              CKEDITOR.replace("content");
            </script>
            </div>

            <input type="text" id="_csrf" name="_csrf" value="{{csrfToken}}" hidden>
            <input type="text" id="mode" value="create" hidden>
        </div>
        <div class="col-md-auto">
          <div class="col-md-3 col-12">
            <div class="row justify-content-center">
              <img id="avatar" alt="User Pic" src="/images/user.jpg" class="img-thumbnail img-fluid">
              <input type="file" name="file" id="file" hidden>
            </div>
            <div class="row justify-content-center">
              <button type="button" class="btn btn-sm btn-outline-warning fas fa-image m-1"
                onclick="handleChangeAvatar()"></button>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header bg-light ">Đăng bài viêt</div>
            <div class="card-body">
              <div class="form-group row">
                <label for="categorySub" class="col-12 col-form-label">Chọn chuyên mục</label>
                <div class="col-12">
                  <select id="categorySub" name="categorySub" class="custom-select" required="required">
                    <option value="" selected>Chọn chuyên mục</option>
                    {{#each listCategory}}
                    <option value="{{_id}}">{{categoryName}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="isPremiumArticle" class="col-12 col-form-label">Set Premium</label>
                <div class="col-8">
                  <select id="isPremiumArticle" name="isPremiumArticle" class="custom-select" required="required">
                    <option value="false" selected> -- set --</option>
                    
                    <option value="true"> Yes </option>
                    <option value="false"> No </option>
                    
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="select" class="col-12 col-form-label">Chọn tag</label>
                <div class="col-8">
                  <select class="form-control chosen-select" multiple class="standardSelect" tabindex="4" name="arrayOfTags" id="arrayOfTags"
                    data-placeholder="Hãy chọn ít nhất một thẻ tag" style="width: 250px">
                    <option value=""></option>
                    {{# each tags }}
                    <option value="{{this._id}}">{{this.tagName}}</option>
                    {{/ each }}
                    {{# each article.arrayOfTags }}
                    <option value="{{this._id}}" selected>{{this.tagName}}</option>
                    {{/ each }}
                  </select>
                </div>
              </div>

            </div>
            <div class="card-footer bg-light">

              {{#if admin}}
              <button id="submit" type="button" class="btn btn-primary btn-sm"
                onclick="handleSubmitPost2('{{actionpost}}')">Save Draft</button>
              {{else}}
              <button id="submit" type="button" class="btn btn-primary btn-sm"
                onclick="handleSubmitPost('{{actionpost}}')">Save Draft</button>
              {{/if}}
            </div>
          </div>

        </div>
      </div>
      </form>
      {{/unless}}
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="approveModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Duyệt bài viết</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" onsubmit="" id="approveForm">
          <div class="form-group">
            <label for="date">Chọn ngày</label>
            <input id="date" type="date" class="form-control" required>
          </div> <!-- form-group end.// -->
          <div class="form-group">
            <label for="time">Chọn giờ</label>
            <input id="time" type="time" class="form-control" required>
          </div> <!-- form-group end.// -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-danger" data-dismiss="modal">Đóng</button>
        <button type="button" id="save" class="btn btn-success" onclick="handleApprove('{{article.id}}')">Xác
          nhận</button>
      </div>
    </div>
  </div>
</div>
<script src="/javascript/chosen.jquery.min.js" type="text/javascript"></script>
<script src="/javascript/prism.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascript/init.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/writer-post.js" type="text/javascript"></script>

<script src="/assets/js/multiple.select.js" type="text/javascript"></script>