<div class="container-fluid">
  <div class="card" style="min-width: 44rem;">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 border-right">
          <!-- <h5>{{topic}}</h5>-->
          <h5>Chủ đề</h5>
        </div>
        <div class="col">
          <a <button href="/writer/post" type="button" class="btn btn-sm btn-primary">Thêm bài viết</button></a>
        </div>
      </div>
      <!-- filter -->
      <div class="row align-items-center justify-content-center">
        <div class="col pt-3">
          <div class="form-group">
            <select id="categories" class="form-control">
              <option selected>Tất cả chuyên mục</option>
              <option>Nông nghiệp</option>
              <option>Kinh tế</option>
              <option>Ẩm thực</option>
              <option>Thể thao</option>
            </select>
          </div>
        </div>
        <div class="col pt-3">
          <div class="form-group">
            <select id="tasg" class="form-control">
              <option selected>Tất cả thẻ tag</option>
              <option>Nông nghiệp</option>
              <option>Kinh tế</option>
              <option>Ẩm thực</option>
              <option>Thể thao</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-primary btn-block">Lọc</button>
        </div>
      </div> <!-- end filter-->
  
  

      <!-- list posts -->
      <div class="row">
        
        <div class="col-md-12">

          <table class="table table-hover ">

            <thead class="bg-light ">
              <tr>
                <th>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value="">
                    </label>
                  </div>
                </th>
                <th>Title</th>
                <th>Author</th>
                <th>Categories</th>
                <th>Tags</th>
                <th>Comments</th>
                <th>Ngày viết</th>
                {{#unless notEdit}}
                <th>Edit</th>
                {{/unless}}
              </tr>
            </thead>
                        {{# if hasError }}
          <div class="alert alert-danger" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{# each messages }}
            {{ this }}</br>
            {{/ each }}
          </div>
          {{ else }}
          {{# if hasSuccess }}
          <div class="alert alert-success" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{# each success }}
            {{ this }}</br>
            {{/ each }}
          </div>
          {{/ if }}
          {{/ if }}
            <tbody>
              {{#each listArticles}}
              {{!-- Aritcle --}}
              <tr>
                <td>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value="">
                    </label>
                  </div>
                </td>
                <td><a href="#"><small>{{this.title}}</small></a></td>
                <td><small>{{../writerName}}</small></td>
                <td><small>{{this.categoryMain.categoryName}} / {{this.categorySub.categoryName}}</small></td>
                <td><small>{{this.arrayOfTags.length}}</small></td>
                <td><a href="#"><small>{{this.comments.length}}</small></a></td>
                <td><small>{{formatDate writeDate day="numeric" month="long" year="numeric"}}</small></td>
                {{#unless ../notEdit}}
                <td>
                  <a href="/user/writer/post/{{this.id}}"><i class="fa fa-edit"></i></a>
                  {{!-- <a href="#"><i class="fa fa-eye"></i></a> --}}
                  {{!-- <a href="#"><i class="fa fa-trash"></i></a> --}}
                  <button type="submit" class="btn btn-link" id="{{this.id}}" onclick="deleteArticleByWriter(this.id)"><i
                  class="fa fa-trash" title="Xóa bài viết"></i></button>
                </td>
                {{/unless}}
              </tr>
              <input type="text" id="articleID" name="_csrf" value="{{this._id}}" hidden>
              {{!-- Aritcle End --}}
              {{else}}
              <div class="alert alert-danger" role="alert">
                <strong> Không có bài viết nào </strong>
              </div>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <input type="text" id="_csrf" name="_csrf" value="{{csrfToken}}" hidden>
</div>

<script src="../../public/handlebars-intl/dist/handlebars-intl.min.js"></script>
<script src="/assets/js/writer.js"></script>