{{#section 'js'}}
<script>
    function validateEmail(email) {
    const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
    }
</script>
<script>
    $(document).ready(function () {
        var color = "aliceblue";
        const role = $('#userRole').text();
        if (role === 'subscriber'){
            color = "khaki";
            $("#card_content #userRole").text("ĐỘC GIẢ VIP");
        }
        if (role === 'editor'){
            color = "greenyellow";
            $("#card_content #userRole").text("BIÊN TẬP VIÊN");
        }
        if (role === 'writer'){
            var idNguoiDung = $('#idNguoiDung').text();
            $.getJSON(`/account/get-ButDanh?id=${idNguoiDung}`,function (data2) {
            console.log(data2);
            $("#txtButDanh").val(data2);
            });
            color = "lightcoral";
            $("#card_content #userRole").text("PHÓNG VIÊN");
        }
        if (role === 'admin'){
            color = "violet";
            $("#card_content #userRole").text("QUẢN TRỊ VIÊN");
        }
        if (role === 'guest'){
            $("#card_content #userRole").text("ĐỘC GIẢ THƯỜNG");
        }
        $("#card_content").css("background-color", color);
    });

    $('#editProfile').on('click', async function (e) {
        if($("#submitBtn").is(":visible")){
            $("#submitBtn").hide();
            $('#txtName').prop('readonly', true);
            $('#txtEmail').prop('readonly', true);
            $('#txtDOB').prop('readonly', true);
            $("#txtButDanh").prop('readonly', true);
        }
        else {
            $("#submitBtn").show();
            $('#txtName').prop('readonly', false);
            $('#txtEmail').prop('readonly', false);
            $('#txtDOB').prop('readonly', false);
            $("#txtButDanh").prop('readonly', false);
        };
    });

    </script>
{{/section}}

<!-- Main Breadcrumb Start -->
        <div class="main--breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="home-1.html" class="btn-link"><i class="fa fm fa-home"></i>Home</a></li>
                    <li class="active"><span>Profile</span></li>
                </ul>
            </div>
        </div>
        <!-- Main Breadcrumb End -->

        <!-- Main Content Section Start -->
        <div class="main-content--section pbottom--30">
            <div class="container">
                <div class="row">
                    <!-- Main Content Start -->
                    <div class="main--content col-md-8 col-sm-7" data-sticky-content="true">
                        <div class="sticky-content-inner">
                            <!-- Page Title Start -->
                            <div class="page--title pd--30-0">
                                <h2 class="h2">Thông tin cá nhân <button id="editProfile" class="fa fa-edit pull-right"></button></h2>
                                <div class="content">
                                    <div class="login--form">
                                    <form id="formProfile" action="/account/change_profile" method="POST">
                                        <div class="form-group">
                                            <label>
                                                <span>Họ và tên</span>
                                                <input style="color: black; font-style: italic;" id="txtName" type="text" name="fullname" readonly="readonly" value="{{authUser.HoTen}}" class="form-control">
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <label>
                                                <span>Email liên lạc</span>
                                                <input style="color: black; font-style: italic;" id="txtEmail" type="email" name="email" readonly="readonly" value="{{authUser.Email}}" class="form-control" >
                                            </label>
                                        </div>

                                        <div class="form-group" >
                                            <label>
                                                <span>Ngày sinh</span>
                                                <input style="color: black; font-style: italic;" id="txtDOB" type="date" readonly="readonly" name="dob" value="{{dateFormat authUser.NgaySinh "YYYY-MM-DD"}}" class="form-control">
                                            </label>
                                        </div>
                                        {{#IfEquals authUser.LoaiNguoiDung 'writer'}}
                                            <div class="form-group" >
                                            <label>
                                                <span>Bút danh</span>
                                                <input style="color: black; font-style: italic;" id="txtButDanh" type="text" readonly="readonly" name="ButDanh" class="form-control">
                                            </label>
                                        </div>
                                        {{/IfEquals}}
                                        
                                        <button style="display: none;" id="submitBtn" type="submit" class="btn btn-lg btn-block btn-primary">Xác nhận</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Page Title End -->
                        </div>
                    </div>
                    <!-- Main Content End -->

                    <!-- Main Sidebar Start -->
                    <div class="main--sidebar col-md-4 col-sm-5 ptop--30 pbottom--30" data-sticky-content="true">
                        <div class="sticky-content-inner">

                            <!-- Widget Start -->
                            <div class="widget">
                                <!-- Profile Widget Start -->
                                <div class="profile--widget">
                                    <div id="card_content" class="contributor--item style--1">
                                        <div class="img">
                                            <img src="img/contributors-img/avatar-01.jpg" alt="" data-rjs="2">
                                        </div>

                                        <div class="name">
                                            <h3 class="h4"><a class="btn-link">{{authUser.TenDangNhap}}</a></h3>
                                        </div>
                                        <hr>
                                        <div class="name">
                                            <h3 class="h4"><a id="userRole" class="btn-link">{{authUser.LoaiNguoiDung}}</a></h3>
                                        </div>

                                        <div class="desc">
                                            <p>That is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                        </div>

                                        <div class="action">
                                            <a id="idNguoiDung" class="btn btn-default">{{authUser.idNguoiDung}}</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Profile Widget End -->
                            </div>
                            <!-- Widget End -->
                        </div>
                    </div>
                    <!-- Main Sidebar End -->
                </div>
            </div>
        </div>
        <!-- Main Content Section End -->



