{{#section 'css'}}

{{/section}}

{{#section 'js'}}
<script src="/js/admin-manager.js"></script>
{{/section}}

<div class="card" style="min-width: 44rem;">
  <div class="card-body">
    <div class="row">
      <div class="col-md-5 border-right">
        <h3>Danh sách chuyên mục</h3>
      </div>
      <div class="col-md-7 text-right">
        <button type="button" class="btn btn-md btn-success" data-toggle="modal" data-target="#addParentCate">Thêm
          chuyên mục cha</button>
        <button type="button" class="btn btn-md btn-success" data-toggle="modal" data-target="#addChildCate">Thêm
          chuyên mục con</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3"></div>
      <div class="col-md-6 float-right">
        <div class="form-group">
          <div class="input-group">
            <input id="Search" type="text" class="form-control search-menu" placeholder="Tìm kiếm..." />
            <div class="input-group-append">
              <button type="button" class="btn btn-primary btn-block"><i class="fa fa-search"
                  aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- filter -->

    <div class="row align-items-center justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <select id="type-cate" class="form-control">
            <option selected>Tất cả chuyên mục</option>
            {{#each listCategory}}
            <option>{{this.TenChuyenMuc}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <button id="cate-filter" type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-filter"></i>
          Lọc</button>
      </div>
    </div>
    <hr>
    <!-- end filter-->
    <!-- list posts -->
    <div class="cate_tables">
      <div class="row">
        <h5 class="mx-3">Bảng chuyên mục cha</h5>
        <table class="table table-hover">
          <thead class="bg-light">
            <tr>
              <th>Chuyên mục</th>
              <th>Số chuyên mục con</th>
              <th>Số bài báo</th>
              <th>
                <center>Thao tác</center>
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each listCategory}}
            <tr>
              <td><a href="">{{this.TenChuyenMuc}}</a></td>
              <td>{{this.soChuyenMucCon}}</td>
              <td>{{this.soBaiBao}}</td>
              <td>
                <center class="btn-groups btn-group-justified">
                  <button href="#" data-id="{{this.idChuyenMucChinh}}" data-title="{{this.TenChuyenMuc}}"
                    data-toggle="modal" data-target="#renameMainCategory"
                    class="btn btn-primary btn-sm p-1 renameMainCateConfirm" style="width: 25px;"><i
                      class="fa fa-pencil" title="Sửa chuyên mục"></i></button>
                  <button href="#" data-id="{{this.idChuyenMucChinh}}" data-title="{{this.TenChuyenMuc}}"
                    data-toggle="modal" data-target="#deleteMainCategory" data-content="{{this.soChuyenMucCon}}"
                    class="btn btn-primary btn-sm p-1 deleteMainCateConfirm" style="width: 25px;"><i class="fa fa-trash"
                      title="Xóa chuyên mục"></i></button>
                </center>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <hr class="my-4" />
      <div class="row">
        <h5 class="mx-3">Bảng chuyên mục con</h5>
        <table class="table table-hover">
          <thead class="bg-light">
            <tr>
              <th>Chuyên mục phụ</th>
              <th>Chuyên mục cha</th>
              <th>Số bài báo</th>
              <th>
                <center>Thao tác</center>
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each listSubCategory}}
            <tr>
              <td><a href="">{{this.TenChuyenMucPhu}}</a></td>
              <td>{{this.TenChuyenMuc}}</td>
              <td>{{this.soBaiBao}}</td>
              <td>
                <center class="btn-groups btn-group-justified">
                  <button data-id="{{this.idChuyenMucPhu}}" data-title="{{this.TenChuyenMucPhu}}"
                    data-content="{{this.TenChuyenMuc}}" data-toggle="modal" data-target="#updateSubCategory"
                    class="btn btn-primary btn-sm p-1 updateSubConfirm" style="width: 25px;"><i class="fa fa-pencil"
                      title="Sửa chuyên mục"></i></button>
                  <button data-id="{{this.idChuyenMucPhu}}" data-title="{{this.TenChuyenMucPhu}}" data-toggle="modal"
                    data-target="#deleteSubCategory" data-content="{{this.soBaiBao}}"
                    class="btn btn-primary btn-sm p-1 deleteSubCateConfirm" style="width: 25px;"><i class="fa fa-trash"
                      title="Xóa chuyên mục"></i></button>
                </center>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal đổi tên chuyên mục cha-->
<div class="modal fade" id="renameMainCategory" tabindex="-1" role="dialog" aria-labelledby="updateCategoryTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <legend>ĐỔI TÊN CHUYÊN MỤC CHA</legend>
      </div>
      <div class="modal-body">
        <form id="frmNewMainName" action="/admin/manage/category/renameMain" method="post">
          <div class="row">
            <label class="col-md-3 col-form-label text-right" for="name"><b>Tên chuyên mục</b></label>
            <div class="col-md-8">
              <input id="newMainCateName" name="name" class="form-control input-md" type="text" />
            </div>
          </div>
          <input type="text" id="mainCateID" name="id" hidden />
        </form>
        <div id="alert" class="text-danger m-3"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="submit" form="frmNewMainName" class="btn btn-primary">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal sửa chuyên mục con-->
<div class="modal fade" id="updateSubCategory" tabindex="-1" role="dialog" aria-labelledby="updateCategorySubTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <legend>CHỈNH SỬA CHUYÊN MỤC CON</legend>
      </div>
      <div class="modal-body">
        <div class="text-right">
          <form id="frmNewDataSub" action="/admin/manage/category/patchSub" method="post">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="name"><b>Tên chuyên mục</b></label>
              <div class="col-md-8">
                <input id="newSubCateName" name="name" placeholder="Nhập vào tên chuyên mục"
                  class="form-control input-md" required="" type="text" />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="categorysub_parent"><b>Chuyên mục cha</b></label>
              <div class="col-md-8">
                <select id="subCate_parent" name="parentID" class="form-control">
                  {{#each listCategory}}
                  <option value="{{this.idChuyenMucChinh}}">{{this.TenChuyenMuc}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <input type="text" id="subCateID" name="id" hidden />
          </form>
        </div>
        <div id="alert" class="text-danger m-3"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="submit" form="frmNewDataSub" class="btn btn-primary">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal xóa chuyên mục cha-->
<div class="modal fade" id="deleteMainCategory" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCategoryTitle">XÓA CHUYÊN MỤC CHA</h5>
      </div>
      <div class="modal-body">
        <p id="delContent"></p>
        <form id="frmDelMain" action="/admin/manage/category/delMain" method="post">
          <input type="hidden" id="idCateDel" name="id" value="">
          <input type="hidden" id="so" name="so" value="">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="submit" form="frmDelMain" class="btn btn-primary" tabindex="-1">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal xóa chuyên mục con-->
<div class="modal fade del" id="deleteSubCategory" role="dialog" aria-labelledby="deleteCategorySubTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">XÓA CHUYÊN MỤC CON</h5>
      </div>
      <div class="modal-body">
        <p id="delContent"></p>
        <form id="frmDelSub" action="/admin/manage/category/delSub" method="post">
          <input type="hidden" id="idCateDel" name="id" value="">
          <input type="hidden" id="so" name="so" value="">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="submit" form="frmDelSub" class="btn btn-primary" tabindex="-1">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

{{! Modal thêm chuyên mục cha }}
<div id="addParentCate" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <legend>THÊM CHUYÊN MỤC CHA</legend>
      </div>
      <div class="modal-body">
        <form id="frmNewMainCate" action="/admin/manage/category/addMain" method="post">
          <div class="text-right">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="name"><b>Tên chuyên mục</b></label>
              <div class="col-md-7">
                <input id="newCategory" name="name" placeholder="Nhập vào tên chuyên mục"
                  class="form-control input-md" required="" type="text" />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div id="alert" class="text-danger m-3"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="submit" form="frmNewMainCate" class="btn btn-primary">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

{{! Modal thêm chuyên mục con }}
<div id="addChildCate" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <legend>THÊM CHUYÊN MỤC CON</legend>
      </div>
      <div class="modal-body">
        <form id="frmNewSubCate" action="/admin/manage/category/addSub" method="post">
          <div class="text-right">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="name"><b>Tên chuyên mục</b></label>
              <div class="col-md-7">
                <input id="newSubCateName" name="name" placeholder="Nhập vào tên chuyên mục"
                  class="form-control input-md" required="" type="text" />
              </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="newSubCate_parent"><b>Chuyên mục cha</b></label>
              <div class="col-md-7">
                <select id="newSubCate_parent" name="newSubCate_parent" class="form-control">
                  {{#each listCategory}}
                  <option value="{{this.idChuyenMucChinh}}">{{this.TenChuyenMuc}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
        </form>
        <div id="alert" class="text-danger m-3"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="submit" form="frmNewSubCate" class="btn btn-primary">Xác nhận</button>
      </div>
    </div>
  </div>
</div>