{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">

<script src="https://cdn.ckeditor.com/4.16.1/standard-all/ckeditor.js"></script>
{{/section}}

{{#section 'js'}}
<script src="/js/writer-post.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<script>$('.chosen').chosen();</script>
<script>
    CKEDITOR.replace("content", {
        extraPlugins: 'embed,autoembed,image2',
        height: 500,

        // Load the default contents.css file plus customizations for this sample.
        contentsCss: [
            'http://cdn.ckeditor.com/4.16.1/full-all/contents.css',
            'https://ckeditor.com/docs/ckeditor4/4.16.1/examples/assets/css/widgetstyles.css'
        ],
        // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
        embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

        // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
        // resizer (because image size is controlled by widget styles or the image takes maximum
        // 100% of the editor width).
        image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
        image2_disableResizer: true
    });
</script>

<script>
    $(document).ready(function () {
        if ({{flag}}) {
            $(`#title`).val(`{{article.TieuDe}}`);
            $(`#abstract`).text(`{{article.TomTat}}`);
            $(`#content`).html(`{{article.NoiDungChiTiet}}`);
            $(`#categorySub option[value={{article.idChuyenMucPhu}}]`).attr('selected', true);
            $(`#isPremiumArticle option[value={{article.Premium}}]`).attr('selected', true);
            $(`#status option:contains({{article.TinhTrangDuyet}})`).attr('selected', true);
            if ($(`#status`).val() === 'Đã xuất bản')
                $(`#status`).attr('disabled', 'disabled');
            $(`#avatar`).attr("src", `/img/BaiBao/{{article.AnhDaiDien}}`);
        }
    });
</script>
{{/section}}



<div class="container-fluid">
    <div class="card" style="min-width: 44rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 text-left">
                    <a href="/admin/manage/post" class="btn btn-primary"><i class="fa fa-arrow-left"></i>
                        Quay lại</i></a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md">
                    <h4>{{topic}}</h4>
                </div>
            </div>
            <hr>
            <form style="min-width: 20rem;" id="articleContent" action="{{actionpost}}" method="POST"
                enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group row">
                            <label for="text" class="col-12 col-form-label" style="font-weight: bolder;
                            font-style: italic;">Tiêu đề bài viết</label>
                            <div class="col-12">
                                <input id="title" name="TieuDe" placeholder="Nhập tiêu đề tại đây"
                                    class="form-control here" required="required" type="text">
                            </div>
                            <label for="text" class="col-12 col-form-label" style="font-weight: bolder;
                            font-style: italic;">Nội dung tóm tắt</label>
                            <div class="col-12">
                                <textarea id="abstract" name="TomTat" placeholder="Nhập nội dung tóm tắt tại đây"
                                    cols="80" rows="3" class="form-control" required="required"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="textarea" class="col-12 col-form-label" style="font-weight: bolder;
                            font-style: italic;">Nội dung chính bài viết</label>
                            <div class="col-12">
                                <textarea id="content" name="NoiDungChiTiet" rows="11" cols="80"
                                    required="required"></textarea>
                            </div>
                        </div>
                        <input type="text" id="mode" value="create" hidden>
                    </div>
                    <div class="col-md-4">
                        <div class="row justify-content-center">
                            <img id="avatar" alt="User Pic" src="/img/BaiBao/no-image.png"
                                class="rounded img-fluid" style="width: 90%;">
                            <input type="file" accept="image/*" name="file" id="file" hidden>
                        </div>
                        <div class="row justify-content-center my-3">
                            <button type="button" class="btn btn-md btn-outline-secondary m-2"
                                onclick="handleChangeCover()"><i class="fa fa-file-image-o"></i> Chọn ảnh cover</button>
                        </div>
                        <div class="card">
                            <div class="card-header bg-info">
                                <h5 class="text-dark p-1">Đăng bài viết</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="categorySub" class="col-12 col-form-label">Chọn chuyên mục</label>
                                    <div class="col-12">
                                        <select id="categorySub" name="idChuyenMucPhu" class="custom-select"
                                            required="required">
                                            <option value="" selected>Chọn chuyên mục</option>
                                            {{#each listSub}}
                                            <option value="{{idChuyenMucPhu}}">{{TenChuyenMucPhu}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="isPremiumArticle" class="col-12 col-form-label">Set Premium</label>
                                    <div class="col">
                                        <select id="isPremiumArticle" name="Premium" class="custom-select"
                                            required="required">
                                            <option value="" selected> -- set --</option>
                                            <option value="1"> Yes </option>
                                            <option value="0"> No </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="select" class="col-12 col-form-label">Chọn tag</label>
                                    <div class="col">
                                        <select class="form-control form-group chosen" multiple tabindex="4"
                                            name="arrayOfTags" id="arrayOfTags"
                                            data-placeholder="Hãy chọn ít nhất một thẻ tag" required="required">
                                            <option value=""></option>
                                            {{#if flag}}
                                            {{#each tags }}
                                            <option value="{{idTag}}" {{#ifIn idTag ../tagsOfNews}} selected {{/ifIn}}>
                                                {{TenTag}}</option>
                                            {{/ each }}
                                            {{else}}
                                            {{#each tags }}
                                            <option value="{{idTag}}">{{TenTag}}</option>
                                            {{/ each }}
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="newStatus" class="col-12 col-form-label">Chọn lựa tình trạng bài
                                        báo</label>
                                    <div class="col">
                                        <select id="status" name="TinhTrangDuyet" class="form-control"
                                            required="required">
                                            <option value="Chưa được duyệt">Chưa được duyệt</option>
                                            <option value="Đã xuất bản">Đã xuất bản</option>
                                            <option value="Đã duyệt - Chờ xuất bản">Đã duyệt - Chờ xuất bản</option>
                                            <option value="Bị từ chối">Bị từ chối</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <input type="hidden" name="idTacGia" value="{{authUser.idNguoiDung}}">
                            <input type="hidden" name="idBaiBao" value="{{article.idBaiBao}}">
                        </div>
                        <div class="row justify-content-center mt-3">
                            <button type="submit" class="btn btn-success btn-lg py-2 px-3 m-3">Lưu bài viết</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>