{{#section 'css'}}

{{/section}}

{{#section 'js'}}
<script src="/js/admin-manager.js"></script>
{{/section}}

<div class="card" style="min-width: 44rem;">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3 border-right">
        <h4><i class="fa fa-tags"></i> Danh sách Tags</h4>
      </div>
      <div class="col-md-6 float-right">
        <div class="form-group">
          <div class="input-group">
            <input id="Search" type="text" class="form-control search-menu" placeholder="Tìm kiếm..." />
            <div class="input-group-append">
              <button type="button" class="btn btn-primary btn-block"><i class="fa fa-search"
                  aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <button href="#addTagModal" class="btn btn-success float-right" data-toggle="modal"><i class="fa fa-tag"
            title="Thêm tag"></i> Thêm tag mới</button>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead class="bg-light">
            <tr>
              <th>idTag</th>
              <th>Tên tag</th>
              <th>Số bài báo chứa tag</th>
              <th>
                <center>Thao tác</center>
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each tagList}}
            <tr>
              <td>{{idTag}}</td>
              <td>{{TenTag}}</td>
              <td>{{numberOfNews}}</td>
              <td>
                <center>
                  <button href="#renameTagModal" class="btn btn-primary btn-sm p-1 patchTagName" data-toggle="modal"
                    data-id="{{this.idTag}}" data-content="{{this.TenTag}}" style="width: 25px;"><i
                      class="fa fa-pencil-square" title="Chỉnh sửa tag"></i></button>
                  <button href="#deleteTagModal" class="btn btn-primary btn-sm p-1 delTagConfirm" data-toggle="modal"
                    data-id="{{this.idTag}}" data-content="{{this.TenTag}}" style="width: 25px;"><i class="fa fa-trash"
                      title="Xóa Tag"></i></button>
                </center>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteTagModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Xác nhận</h3>
      </div>
      <div class="modal-body">
        <p id="content"></p>
      </div>
      <div class="modal-footer">
        <form action="/admin/manage/tag/delTag" method="POST" id="formDelTag">
          <input type="hidden" id="del" name="id" value="">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button class="btn btn-primary" type="submit">Xác nhận</a>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="renameTagModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Phân công chuyên mục</h3>
      </div>
      <div class="modal-body">
        <form action="/admin/manage/tag/rename" method="POST" id="formTagRenaming">
          <label style="font-style: italic; font-weight: bold;" for="newTagName">Thay đổi tên tag: </label>
          <div class="row px-3"><input class="w-100" id="tagName" type="text" name="newTagName"></div>
          <input type="hidden" id="idTag" name="id" value="">
        </form>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button class="btn btn-primary" type="submit" form="formTagRenaming">Xác nhận</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="addTagModal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Thêm tag mới</h3>
      </div>
      <div class="modal-body">
        <form action="/admin/manage/tag/add" method="POST" id="formAddTag">
          <div class="row">
            <label class="col-md-3 col-form-label text-right" style="font-style: italic; font-weight: bold;" for="newTag">Thêm tag: </label>
            <div class="col-md-8"><input class="w-100 form-control input-md" required="" type="text"
                name="newTag"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button class="btn btn-primary" type="submit" form="formAddTag">Xác nhận</a>
      </div>
    </div>
  </div>
</div>