<div class="card" style="min-width: 44rem;">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 border-right">
          <h4><i class="fa fa-users"></i> Danh sách users</h4>
        </div>
        <div class="col">
          <a href="/user/admin/manager-user/add-user" class="btn btn-success float-right"><i class="fa fa-user-plus"></i> Thêm user</i></a>
        </div>
      </div>
      <!-- filter -->
      <div class="row align-items-center justify-content-center">
        <div class="col pt-3">
          <div class="form-group">
            <select id="categories" class="form-control">
              <option selected>Loại user</option>
              <option>Độc giả</option>
              <option>Writer</option>
              <option>Editor</option>
              <option>Administrator</option>
            </select>
          </div>
        </div>
        <div class="col pt-3">
          <div class="form-group">
            <select id="categories" class="form-control">
              <option selected>Chuyên mục</option>
              <option>Thể thao</option>
              <option>Chính trị</option>
              <option>Xã hội</option>
              <option>Công nghệ</option>
            </select>
          </div>
        </div>
        <div class="col pt-3">
          <div class="form-group">
            <select id="tasg" class="form-control">
              <option selected>Tình trạng</option>
              <option>Hết hạn</option>
              <option>Bị chặn</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-primary btn-block"><i class="fa fa-filter"></i> Lọc</button>
        </div>
      </div> <!-- end filter-->
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover ">
            <thead class="bg-light ">
              <tr>
                </th>
                <th>Tên người dùng</th>
                <th>Loại người dùng</th>
                <th>Danh mục quản lí</th>
                <!-- <th>Thời hạn</th> -->
                <th>Trạng thái</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              {{#each userList}}
              <tr>
                <td><small>{{TenDangNhap}}</small></td>
                <td>
                  <select class="custom-select custom-select-sm" disabled>
                    <option> {{LoaiNguoiDung}} </option>
                  </select>
                </td>
                <td>
                  <select class="chosen-select" multiple disabled data-placeholder="Không quản lí">
                    {{# each this.categoryEditor }}
                      <option value="{{this._id}}" selected>{{this.categoryName}}</option>
                    {{/ each }}
                  </select>
                </td>
                <td> <i class="fa fa-user-clock"></i> {{status}} </td>
                <td>
                  <a href="/user/admin/manager-user/profile/{{this._id}}"><i class="fa fa-eye" title="Xem thông tin chi tiết"></i></a>
                  {{# if_equal this.role "subscriber" }}
                    <button type="button" class="btn btn-link" id="{{this._id}}" onclick="openAddTimeModal(this.id, 'addTimeModal', '{{this.expire}}')"><i class="fa fa-calendar-plus" title="Gia hạn"></i></button>
                  {{/ if_equal }}
                  <button type="submit" class="btn btn-link" id="{{this._id}}" onclick="deleteUser(this.id)"><i class="fa fa-trash" title="Xóa người dùng"></i></button>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="addTimeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gia hạn tài khoản đọc giả (subscriber)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/user/admin/manager-user/add-time" method="POST" onsubmit="return validateAddTime();" id="addTimeForm">
                    <div class="form-group">
                        <label for="time">Số ngày</label>   
                        <input id="time" name="time" type="number" class="form-control" value="7" required>
                        <input id="iduser" type="text" class="form-control" hidden>
                        <input id="expire" type="text" class="form-control" hidden>
                        <input id="_csrf" name="_csrf" value="{{csrfToken}}" hidden>
                    </div> <!-- form-group end.// -->              
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelAddTime" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                <button type="button" id="saveAddTime" class="btn btn-success" onclick="handleAddTime()" >Xác nhận</button>
            </div>
        </div>
    </div>