<div class="card" style="min-width: 44rem;">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 border-right">
          <h4><i class="fa fa-users"></i> Danh sách users</h4>
        </div>
        <div class="col-md-6 float-right">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Tìm kiếm..." />
            <div class="input-group-append">
              <button type="button" class="btn btn-primary btn-block"><i class="fa fa-search"
                  aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <a href="/user/admin/manager-user/add-user" class="btn btn-success float-right"><i class="fa fa-user-plus"></i> Thêm user</i></a>
        </div>
      </div>
      <!-- filter -->
      <div class="row align-items-center justify-content-center">
        <div class="col pt-3">
          <div class="form-group">
            <select id="categories" class="form-control">
              <option selected>Loại người dùng</option>
              <option>Độc giả</option>
              <option>Phóng viên</option>
              <option>Biên tập viên</option>
              <option>Administrator</option>
            </select>
          </div>
        </div>
        <div class="col pt-3">
          <div class="form-group">
            <select id="categories" class="form-control">
              <option selected>Chuyên mục</option>
              <option>Thể thao</option>
              <option>Chính trị</option>
              <option>Xã hội</option>
              <option>Công nghệ</option>
            </select>
          </div>
        </div>
        <div class="col pt-3">
          <div class="form-group">
            <select id="tasg" class="form-control">
              <option selected>Trạng thái</option>
              <option>Hoạt động</option>
              <option>Bị chặn</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-primary btn-block"><i class="fa fa-filter"></i> Lọc</button>
        </div>
      </div> <!-- end filter-->
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover ">
            <thead class="bg-light ">
              <tr>
                </th>
                <th>Tên người dùng</th>
                <th>Loại người dùng</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              {{#each userList}}
              <tr>
                <td><small>{{TenDangNhap}}</small></td>
                <td>{{LoaiNguoiDung}}</td>
                <td>{{TinhTrang}} </td>
                <td>
                  <a href="/user/admin/manager-user/profile/{{this._id}}"><i class="fa fa-eye" title="Xem thông tin chi tiết"></i></a>
                  {{# ifEqual TinhTrang "Bị Chặn" }}
                    <button type="button" class="btn btn-link" id="{{this._id}}" onclick="unban(this.id)"><i class="fa fa-user" title="Bỏ chặn"></i></button>
                  {{/ ifEqual }}
                  {{# ifEqual TinhTrang "Hoạt Động" }}
                    <button type="button" class="btn btn-link" id="{{this._id}}" onclick="ban(this.id)"><i class="fa fa-user-times" title="Chặn"></i></i></button>
                  {{/ ifEqual }}
                  <button type="submit" class="btn btn-link" id="{{this._id}}" onclick="patchRole(this.id)"><i class="fa fa-user-circle" title="Thay đổi vai trò"></i></button>
                  <button type="submit" class="btn btn-link" id="{{this._id}}" onclick="deleteUser(this.id)"><i class="fa fa-trash" title="Xóa người dùng"></i></button>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>