{{#section 'css'}}

{{/section}}

{{#section 'js'}}
<script src="/js/user-manager.js"></script>
{{/section}}

<div class="card" style="min-width: 44rem;">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3 border-right">
        <h4><i class="fa fa-users"></i> Danh sách phóng viên</h4>
      </div>
      <div class="col-md-6 float-right">
        <div class="form-group">
          <div class="input-group">
            <input id="Search" type="text" class="form-control search-menu" placeholder="Tìm kiếm..." />
            <div class="input-group-append">
              <button type="button" class="btn btn-primary btn-block"><i class="fa fa-search"
                  aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <a href="/user/admin/manager-user/add-user" class="btn btn-success float-right"><i class="fa fa-user-plus"></i>
          Thêm user</i></a>
      </div>
    </div>
    <!-- filter -->
    <div class="row align-items-center justify-content-center">
      <div class="col py-3">
      </div>
    </div> <!-- end filter-->
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-hover ">
          <thead class="bg-light ">
            <tr>
              <th>ID</th>
              <th>Tên đăng nhập</th>
              <th>Họ Tên</th>
              <th>Email</th>
              <th>Bút danh</th>
              <th>Số bài đăng</th>
              <th>Số bài viết</th>
              <th class="text-center">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            {{#each userList}}
            <tr>
              <td>{{idNguoiDung}}</td>
              <td>{{TenDangNhap}}</td>
              <td>{{HoTen}}</td>
              <td style="font-style: italic;">{{Email}}</td>
              <td>{{ButDanh}}</td>
              <td><strong>{{soBaiDaDang}}</strong></td>
              <td><strong>{{tongBaiBao}}</strong></td>
              <td class="text-center btn-groups btn-group-justified">
                <a class="btn btn-primary btn-sm p-1" href="/admin/manage/user/profile/{{this.idNguoiDung}}"
                  style="width: 25px;"><i class="fa fa-eye" title="Xem thông tin chi tiết"></i></a>
                <button href="#patchRole" class="btn btn-primary btn-sm p-1 roleConfirm"
                  data-title="Thay đổi vai trò người dùng " data-toggle="modal" data-id="{{this.idNguoiDung}}"
                  data-content="{{this.LoaiNguoiDung}}" style="width: 25px;"><i class="fa fa-user-circle"
                    title="Thay đổi vai trò"></i></button>
                <button href="#confirm_del_user" class="btn btn-primary btn-sm p-1 delUserConfirm" data-toggle="modal"
                  data-title="Bạn có chắc muốn xóa người dùng " data-id="{{this.idNguoiDung}}"
                  data-content="{{this.TenDangNhap}}" data-type="delUser" style="width: 25px;"><i class="fa fa-trash"
                    title="Xóa người dùng"></i></button>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{!-- Modal xac nhan xoa --}}
<div class="modal fade" id="confirm_del_user">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Xác nhận</h3>
      </div>
      <div class="modal-body">
        <p id="content"></p>
      </div>
      <div class="modal-footer">
        <form action="/admin/manage/user/delUser" method="POST" id="form">
          <input type="hidden" id="del" name="id" value="">
          <input type="hidden" id="deltype" name="type" value="">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button class="btn btn-primary" type="submit">Xác nhận</a>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="patchRole">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Thay đổi vai trò</h3>
      </div>
      <div class="modal-body">
        <form action="/admin/manage/user/patchRole" method="POST" id="formRole">
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="role"><b>Thay đổi vai trò thành:</b></label>
            <select class="form-control col-md-7" name="role" id="role_select">
              <option value="guest" selected>Độc giả vãng lai</option>
              <option value="subscriber">Độc giả</option>
              <option value="writer">Phóng viên</option>
              <option value="editor">Biên tập viên</option>
              <option value="admin">Quản trị viên</option>
            </select>
          </div>
          <input type="hidden" id="role" name="id" value="">
          <input type="hidden" id="oldrole" name="oldrole" value="">
        </form>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button class="btn btn-primary" type="submit" form="formRole">Xác nhận</a>
      </div>
    </div>
  </div>
</div>